<div class="flex flex-col w-full h-full items-center justify-start">
    <div style="height: 90%;" class="flex w-11/12 items-center justify-center overflow-x-auto pt-5">
        <div class="flex flex-col items-center h-full w-96">
            <h3 style="color: #4B4B4B;" class="text-starttext-xl text-xl font-medium mr-auto">Criadas</h3>
            <ul class="overflow-y-scroll max-h-full w-full">
                {{#each taskListCreatedArray}}
                    <li data-task="{{this.id}}" style="background-color: white;" class="flex h-32 w-80 mb-4 mt-4 rounded-lg p-3">
                        <div class="flex flex-col items-start h-full w-full">
                            <a class="flex flex-col items-start h-full w-full" href="/task/update/{{this.id}}">
                                <div style="background-color: {{this.category.color}};" class="w-3/6 rounded-lg p-1 pl-2 text-sm text-white font-normal">
                                    <i class="{{this.category.icon}}"></i> {{this.category.name}}
                                </div>
                                <p class="pt-3 font-normal text-lg">{{this.title}}</p>
                                <small style="color: #9C9C9C;" class="mt-auto ml-auto font-lighttext-xs">{{this.deadline}}</small>
                            </a>
                            {{#if this.checklists}}
                                <div class="flex flex-row justify-between w-full">
                                    <small class="flex flex-row" style="color: #3C3C3C;" class="font-light text-sm">
                                        <i class="bi bi-check2-square mr-1"></i> 
                                        <p id="checklist-complete">{{this.doneChecklists}}</p>
                                        <p>/{{this.totalChecklists}}</p>
                                    </small>
                                    <button class="flex w-20 h-6 z-10 justify-end" onclick="expandChecklists({{this.id}}, event)" title="Expandir">
                                        <i id="icone_{{this.id}}" style="color: #3C3C3C;" class="bi bi-chevron-down"></i>
                                    </button>
                                </div>
                                <div class="w-full overflow-y-auto max-h-44 scroll-bar-hidden mt-5">
                                    {{#each this.checklists}}
                                        <div class="p-2 flex items-center" data-index="{{this.id}}">
                                            <input type="checkbox" class="form-checkbox h-4 w-4 text-blue-500 border-gray-300 rounded" {{#if this.done}}checked{{/if}} onclick="checkboxChangeStatus(event)">
                                            <p class="ml-3 w-2/3 text-base">{{this.name}}</p>
                                        </div>
                                    {{/each}}
                                </div>
                            {{/if}}
                        </div>
                    </li>
                {{/each}}
            </ul>
        </div>
        <div class="flex flex-col items-center h-full w-96">
            <h3 style="color: #4B4B4B;" class="text-starttext-xl text-xl font-medium mr-auto">Fazendo</h3>
            <ul class="overflow-y-scroll max-h-full w-full">
                {{#each taskListWorkingArray}}
                    <li data-task="{{this.id}}" style="background-color: white;" class="flex h-32 w-80 mb-4 mt-4 rounded-lg p-3">
                        <div class="flex flex-col items-start h-full w-full">
                            <a class="flex flex-col items-start h-full w-full" href="/task/update/{{this.id}}">
                                <div style="background-color: {{this.category.color}};" class="w-3/6 rounded-lg p-1 pl-2 text-sm text-white font-normal">
                                    <i class="{{this.category.icon}}"></i> {{this.category.name}}
                                </div>
                                <p class="pt-3 font-normal text-lg">{{this.title}}</p>
                                <small style="color: #9C9C9C;" class="mt-auto ml-auto font-lighttext-xs">{{this.deadline}}</small>
                            </a>
                            {{#if this.checklists}}
                                <div class="flex flex-row justify-between w-full">
                                    <small class="flex flex-row" style="color: #3C3C3C;" class="font-light text-sm">
                                        <i class="bi bi-check2-square mr-1"></i> 
                                        <p id="checklist-complete">{{this.doneChecklists}}</p>
                                        <p>/{{this.totalChecklists}}</p>
                                    </small>
                                    <button class="flex w-20 h-6 z-10 justify-end" onclick="expandChecklists({{this.id}}, event)" title="Expandir">
                                        <i id="icone_{{this.id}}" style="color: #3C3C3C;" class="bi bi-chevron-down"></i>
                                    </button>
                                </div>
                                <div class="w-full overflow-y-auto max-h-44 scroll-bar-hidden mt-5">
                                    {{#each this.checklists}}
                                        <div class="p-2 flex items-center" data-index="{{this.id}}">
                                            <input type="checkbox" class="form-checkbox h-4 w-4 text-blue-500 border-gray-300 rounded" {{#if this.done}}checked{{/if}} onclick="checkboxChangeStatus(event)">
                                            <p class="ml-3 w-2/3 text-base">{{this.name}}</p>
                                        </div>
                                    {{/each}}
                                </div>
                            {{/if}}
                        </div>
                    </li>
                {{/each}}
            </ul>
        </div>
        <div class="flex flex-col items-center h-full w-96">
            <h3 style="color: #4B4B4B;" class="text-starttext-xl text-xl font-medium mr-auto">Em pausa</h3>
            <ul class="overflow-y-scroll max-h-full w-full">
                {{#each taskListPausedArray}}
                    <li data-task="{{this.id}}" style="background-color: white;" class="flex h-32 w-80 mb-4 mt-4 rounded-lg p-3">
                        <div class="flex flex-col items-start h-full w-full">
                            <a class="flex flex-col items-start h-full w-full" href="/task/update/{{this.id}}">
                                <div style="background-color: {{this.category.color}};" class="w-3/6 rounded-lg p-1 pl-2 text-sm text-white font-normal">
                                    <i class="{{this.category.icon}}"></i> {{this.category.name}}
                                </div>
                                <p class="pt-3 font-normal text-lg">{{this.title}}</p>
                                <small style="color: #9C9C9C;" class="mt-auto ml-auto font-lighttext-xs">{{this.deadline}}</small>
                            </a>
                            {{#if this.checklists}}
                                <div class="flex flex-row justify-between w-full">
                                    <small class="flex flex-row" style="color: #3C3C3C;" class="font-light text-sm">
                                        <i class="bi bi-check2-square mr-1"></i> 
                                        <p id="checklist-complete">{{this.doneChecklists}}</p>
                                        <p>/{{this.totalChecklists}}</p>
                                    </small>
                                    <button class="flex w-20 h-6 z-10 justify-end" onclick="expandChecklists({{this.id}}, event)" title="Expandir">
                                        <i id="icone_{{this.id}}" style="color: #3C3C3C;" class="bi bi-chevron-down"></i>
                                    </button>
                                </div>
                                <div class="w-full overflow-y-auto max-h-44 scroll-bar-hidden mt-5">
                                    {{#each this.checklists}}
                                        <div class="p-2 flex items-center" data-index="{{this.id}}">
                                            <input type="checkbox" class="form-checkbox h-4 w-4 text-blue-500 border-gray-300 rounded" {{#if this.done}}checked{{/if}} onclick="checkboxChangeStatus(event)">
                                            <p class="ml-3 w-2/3 text-base">{{this.name}}</p>
                                        </div>
                                    {{/each}}
                                </div>
                            {{/if}}
                        </div>
                    </li>
                {{/each}}
            </ul>
        </div>
        <div class="flex flex-col items-center h-full w-96">
            <h3 style="color: #4B4B4B;" class="text-starttext-xl text-xl font-medium mr-auto">Finalizado</h3>
            <ul class="overflow-y-scroll max-h-full w-full">
                {{#each taskListDoneArray}}
                    <li data-task="{{this.id}}" style="background-color: white;" class="flex h-32 w-80 mb-4 mt-4 rounded-lg p-3">
                        <div class="flex flex-col items-start h-full w-full">
                            <a class="flex flex-col items-start h-full w-full" href="/task/update/{{this.id}}">
                                <div style="background-color: {{this.category.color}};" class="w-3/6 rounded-lg p-1 pl-2 text-sm text-white font-normal">
                                    <i class="{{this.category.icon}}"></i> {{this.category.name}}
                                </div>
                                <p class="pt-3 font-normal text-lg">{{this.title}}</p>
                                <small style="color: #9C9C9C;" class="mt-auto ml-auto font-lighttext-xs">{{this.deadline}}</small>
                            </a>
                            {{#if this.checklists}}
                                <div class="flex flex-row justify-between w-full">
                                    <small class="flex flex-row" style="color: #3C3C3C;" class="font-light text-sm">
                                        <i class="bi bi-check2-square mr-1"></i> 
                                        <p id="checklist-complete">{{this.doneChecklists}}</p>
                                        <p>/{{this.totalChecklists}}</p>
                                    </small>
                                    <button class="flex w-20 h-6 z-10 justify-end" onclick="expandChecklists({{this.id}}, event)" title="Expandir">
                                        <i id="icone_{{this.id}}" style="color: #3C3C3C;" class="bi bi-chevron-down"></i>
                                    </button>
                                </div>
                                <div class="w-full overflow-y-auto max-h-44 scroll-bar-hidden mt-5">
                                    {{#each this.checklists}}
                                        <div class="p-2 flex items-center" data-index="{{this.id}}">
                                            <input type="checkbox" class="form-checkbox h-4 w-4 text-blue-500 border-gray-300 rounded" {{#if this.done}}checked{{/if}} onclick="checkboxChangeStatus(event)">
                                            <p class="ml-3 w-2/3 text-base">{{this.name}}</p>
                                        </div>
                                    {{/each}}
                                </div>
                            {{/if}}
                        </div>
                    </li>
                {{/each}}
            </ul>
        </div>
    </div>
</div>


<script>
    function expandChecklists(taskId, event) {
        event.preventDefault();

        let card = document.querySelector('[data-task="' + taskId + '"]');
        var icone = document.getElementById('icone_' + taskId);

        if (card) {
            if (card.classList.contains('h-32')) {
                card.classList.remove('h-32');
                card.classList.add('h-72');
                icone.classList.remove('bi-chevron-down');
                icone.classList.add('bi-chevron-up');
            } 
            else if (card.classList.contains('h-72')) {
                card.classList.remove('h-72');
                card.classList.add('h-32');
                icone.classList.remove('bi-chevron-up');
                icone.classList.add('bi-chevron-down');
            }
        }
    }

    function checkboxChangeStatus(event) {
        const index = parseInt(event.target.closest('[data-index]').getAttribute('data-index'), 10);

        $.ajax({
            url: `/checklist/change-status/${index}`,
            type: 'PUT',
            data: JSON.stringify({
                done: event.target.checked
            }),
            contentType: 'application/json',
            success: function (response) {
                if(response.success){
                    if (event.target.checked) {
                        let doneChecklistsElement = event.target.closest('li').querySelector('#checklist-complete');
                        let currentDoneChecklists = parseInt(doneChecklistsElement.innerText);
                        doneChecklistsElement.innerText = currentDoneChecklists + 1;
                    } else {
                        let doneChecklistsElement = event.target.closest('li').querySelector('#checklist-complete');
                        let currentDoneChecklists = parseInt(doneChecklistsElement.innerText);
                        doneChecklistsElement.innerText = currentDoneChecklists - 1;
                    }
                } else {
                    // Mensagem de erro
                }
            }
        });
    }
</script>