<div class="form-container">
    <h1>Atualizar tarefa</h1>
    <form action="/task/update/{{task.id}}" method="post">
        <div class="form-data">
            <label for="title">Título</label>
            <input class="input-title" type="text" name="title" id="title" value="{{task.title}}">
        </div>
        <div class="form-data">
            <label for="description">Descrição</label>
            <textarea class="input-text" type="text" name="description" id="description" value="{{task.description}}">{{task.description}}</textarea>
        </div>
        <div class="form-data">
            <label for="deadline">Data final</label>
            <input type="date" name="deadline" id="deadline" value="{{task.deadline}}">
        </div>
        
        <div class="form-data">
            <label for="status">Status</label>
            <select name="status" id="status">
                {{#each statusList}}
                    <option value="{{this.code}}" {{#eq this.code ../task.status}}selected{{/eq}}>
                        {{this.label}}
                    </option>
                {{/each}}
            </select>
        </div>
                <div class="form-data">
            <label for="category">Categoria</label>
            <select name="category" id="category" class="selectpicker">
                {{#each categoryList}}
                    <option value="{{this.id}}" data-icon="{{this.icon}}" {{#eq this.id ../task.categoryId}}selected{{/eq}}>
                        {{this.name}}
                    </option>
                {{/each}}
            </select>
        </div>
        <div class="form-buttons">
            <button class="btn-create" type="submit">Atualizar</button>
        </div>
    </form>
    <div class="btn-exit">
        <a href="/task">Voltar</a>
    </div>
</div>