<div class="flex flex-col w-full h-full items-center justify-start">
    <div class="flex flex-row w-5/6 justify-between items-center mt-7 h-1/12 mb-5">
        <h1 style="color: #484848;" class="text-start text-3xl font-normal mr-auto">Criar Categoria</h1>
    </div>
    <form class="flex flex-col w-5/6 h-4/6 items-center" action="/category/update/{{category.id}}" method="post">
        <div class="flex flex-row w-5/6 items-center justify-between">
            <input type="hidden" name="_method" value="PUT">
            <div class="flex flex-col w-2/5 items-start justify-start h-24">
                <label style="color: #4B4B4B;" class="text-xl ml-2" for="name">Nome</label>
                <input  class="w-full px-3 py-2 border border-gray-300 rounded-md" type="text" name="name" id="name" value="{{category.name}}">
            </div>
            <div class="flex flex-col w-1/5 h-24">
                <label style="color: #4B4B4B;" class="text-xl ml-2"  for="color">Ícone</label>
                <input type="text" name="icon" id="icon" hidden>
                <div class="relative inline-block w-full text-left mb-4">
                    <div>
                        <button style="background-color: white;" type="button" class="h-12 inline-flex justify-between w-full rounded-md border border-gray-300 shadow-sm px-3 py-2"
                            id="menu-button" aria-expanded="true" aria-haspopup="true" onclick="toggleMenu()">
                            {{#if category.icon}}
                                <span id="input-value"><i class="{{category.icon}}"></i> - {{category.icon}}</span>
                            {{else}}
                                <span id="input-value">Selecione uma opção</span>
                            {{/if}}
                        </button>
                    </div>

                    <div id="dropdown-menu" class="scroll-bar-hidden origin-top-right absolute right-0 mt-2 w-full rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 hidden max-h-52 overflow-y-auto">
                        <div class="py-1" role="menu" aria-orientation="vertical" aria-labelledby="menu-button">
                            <a href="#" class="flex items-center px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" role="menuitem" onclick="selectOption('bi bi-book', '- bi bi-book')">
                                <i class="bi bi-book mr-2"></i>
                                - bi bi-book
                            </a>
                            <a href="#" class="flex items-center px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" role="menuitem" onclick="selectOption('bi bi-bookmark', '- bi bi-bookmark')">
                                <i class="bi bi-bookmark mr-2"></i>
                                - bi bi-bookmark
                            </a>
                            <a href="#" class="flex items-center px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" role="menuitem" onclick="selectOption('bi bi-cart', '- bi bi-cart')">
                                <i class="bi bi-cart mr-2"></i>
                            - bi bi-cart
                            </a>
                            <a href="#" class="flex items-center px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" role="menuitem" onclick="selectOption('bi bi-pin', '- bi bi-pin')">
                                <i class="bi bi-pin mr-2"></i>
                                - bi bi-pin
                            </a>
                            <a href="#" class="flex items-center px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" role="menuitem" onclick="selectOption('bi bi-briefcase', '- bi bi-briefcase')">
                                <i class="bi bi-briefcase mr-2"></i>
                                - bi bi-briefcase
                            </a>
                            <a href="#" class="flex items-center px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" role="menuitem" onclick="selectOption('bi bi-capsule', '- bi bi-capsule')">
                                <i class="bi bi-capsule mr-2"></i>
                                - bi bi-capsule
                            </a>
                            <a href="#" class="flex items-center px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" role="menuitem" onclick="selectOption('bi bi-heart', '- bi bi-heart')">
                                <i class="bi bi-heart mr-2"></i>
                                - bi bi-heart
                            </a>
                            <a href="#" class="flex items-center px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" role="menuitem" onclick="selectOption('bi bi-fuel-pump', '- bi bi-fuel-pump')">
                                <i class="bi bi-fuel-pump mr-2"></i>
                                - bi bi-fuel-pump
                            </a>
                            <a href="#" class="flex items-center px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" role="menuitem" onclick="selectOption('bi bi-cash-coin', '- bi bi-cash-coin')">
                                <i class="bi bi-cash-coin mr-2"></i>
                                - bi bi-cash-coin
                            </a>
                            <a href="#" class="flex items-center px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" role="menuitem" onclick="selectOption('bi bi-house', '- bi bi-house')">
                                <i class="bi bi-house mr-2"></i>
                                - bi bi-house
                            </a>
                            <a href="#" class="flex items-center px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" role="menuitem" onclick="selectOption('bi bi-airplane', '- bi bi-airplane')">
                                <i class="bi bi-airplane mr-2"></i>
                                - bi bi-airplane
                            </a>
                            <a href="#" class="flex items-center px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" role="menuitem" onclick="selectOption('bi bi-cake2', '- bi bi-cake2')">
                                <i class="bi bi-cake2 mr-2"></i>
                                - bi bi-cake2
                            </a>
                            <a href="#" class="flex items-center px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" role="menuitem" onclick="selectOption('bi bi-calendar', '- bi bi-calendar')">
                                <i class="bi bi-calendar mr-2"></i>
                                - bi bi-calendar
                            </a>
                            <a href="#" class="flex items-center px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" role="menuitem" onclick="selectOption('bi bi-exclamation-octagon', '- bi bi-exclamation-octagon')">
                                <i class="bi bi-exclamation-octagon mr-2"></i>
                                - bi bi-exclamation-octagon
                            </a>
                            <a href="#" class="flex items-center px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" role="menuitem" onclick="selectOption('bi bi-mortarboard', '- bi bi-mortarboard ')">
                                <i class="bi bi-mortarboard mr-2"></i>
                                - bi bi-mortarboard 
                            </a>
                        </div>
                    </div>
                </div>
            </div>
       
            <div class="flex flex-col w-1/5 h-24">
                <label style="color: #4B4B4B;" class="text-xl ml-2"  for="color">Cor</label>
                <input  class="w-24 h-16 px-3 py-2 border border-gray-300 rounded-md" type="color" name="color" id="color" value="{{category.color}}">
            </div>
        </div>

        <div class="flex flex-row justify-end items-center w-full mt-auto">
            <a style="color: #4B4B4B;" class="mr-10 text-xl font-normal" href="/category">Voltar</a>
            <button style="background-color: #EA2B2B;" class="px-10 py-3 w-64 text-center font-medium text-white rounded-lg" type="button" onclick="deleteCategory({{category.id}})">Deletar</button>
            <button style="background-color: #8354D0;" class="px-10 py-3 w-64 text-center font-medium text-white rounded-lg ml-5" type="submit">Atualizar</button>
        </div>
    </form>
</div>

<script>
    function toggleMenu() {
        const menu = document.getElementById('dropdown-menu');
        menu.classList.toggle('hidden');
    }

    function selectOption(iconClass, optionName) {
        const inputValueHidden = document.getElementById('icon');
        inputValueHidden.value = iconClass;

        const inputValue = document.getElementById('input-value');
        inputValue.innerHTML = `<i class="${iconClass} mr-2"></i>${optionName}`;

        const menu = document.getElementById('dropdown-menu');
        menu.classList.add('hidden');
    }

    function deleteCategory(index) {
        $.ajax({
            url: `/category/delete/${index}`,
            type: 'DELETE',
            contentType: 'application/json',
            success: function (response) {
                if(response.success){
                    window.location.href = '/category/';
                } else {
                    Toastify({
                        text: "Erro ao deletar categoria!",
                        duration: 3000,
                        gravity: "top",
                        position: "right",
                        className: "tost-error",
                    }).showToast();
                } 
            }
        });
    }
</script>